canvas {
  border: 5px solid gray;
  background: black;
  float: left;
  margin-top: 50px;
}

.canvas-div {
  width: 640px;
  height: 645px;
  margin-top: 0px;
  margin: auto;
}

.instructions {
  margin-top: -450px;
  position: fixed;
  width: 100%;

}

.welcome {
  left: 10px;
  bottom: 590px;
  margin: 0 auto;
  position: relative;
  width: 650px;
  background: #000;
}

IMG {
  width: 650px;
  height: 550px;
}

h2 {
  width: 168px;
  padding: 23px;
  margin: auto;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
}

body {
  background-image: url("../assets/arcade.jpg");
  height: 99%;
  width: 99%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}




/*
.logo {
    width: 300px;
    height: 100px;
    margin-left: 210px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.info-pane {
  width: 200px;
  height: 600px;
  background: black;
  float: right;
  border: 1px solid #999;
}
.score {
  height: 50px;
  width: 150px;
  margin-top: 20px;
  float: right;
  background: white;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 30px;
  text-align: center;
}
.next-piece {
  height: 150px;
  width: 150px;
  float: right;
  background: white;
  border-radius: 5px;
  margin-top: 50px;
  margin-right: 20px;
}
h2 {
  /*position: fixed;
  background: rgba(200,200,200,.7);
  padding: 20px;
  margin-left: 60px;
  margin-top: 100px;
  width: 150px;
  text-align: center;*/
}

.controls {
  height: 150px;
  width: 200px;
  float: right;
  background: black;
  margin-top: 50px;
  background-position: center;
  overflow: hidden;
}

.new-game {
  height: 50px;
  width: 150px;
  float: right;
  background: white;
  border-radius: 5px;
  margin-top: 50px;
  margin-right: 20px;
  border: 1px solid black;
}

.new-game h3 {
  margin-left: 30px;
  margin-top: 12px;
}

.new-game:hover {
  background: yellow;
}*/
